<ion-header>
  <ion-toolbar color="dark">
    <ion-button slot="end" fill="clear" color="light" (click)=cerarModal()>
      <ion-icon name="close"></ion-icon>
    </ion-button>
    <ion-title *ngIf="idProducto === ''">Agregar producto</ion-title>
    <ion-title *ngIf="idProducto !== ''">Detalles del producto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngIf="idProducto !== ''">
    <ion-card>
   
        <div class="centrar">
          <ion-img *ngIf="mTipo.nombre === 'Bebidas'" src="../../../../assets/imgs/frappeC.svg" ></ion-img>
          <ion-img *ngIf="mTipo.nombre === 'Refacciones'" src="../../../../assets/imgs/nachos.svg" ></ion-img>
        </div>
   
      <ion-card-header>

        <ion-card-title>{{mProducto.nombre}}</ion-card-title>
        <ion-card-subtitle>Precio: Q{{mProducto.precio | number:'1.2-2'}}</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <h3>Tipo: {{mTipo.nombre}}</h3>
        <h3>Descripción: {{mProducto.descripcion}}</h3>
        
      </ion-card-content>
    </ion-card>
  </div>

  <div *ngIf="idProducto === ''">
    <form [formGroup]="form" (ngSubmit)="guardar()">

      <ion-list>

        <ion-item>
          <ion-label position="floating">
            <ion-text color="dark">Nombre</ion-text>
          </ion-label>
          <ion-input required type="text" formControlName="nombre"></ion-input>
        </ion-item>


        <ion-item>
          <ion-label position="floating">
            <ion-text color="dark">Descripción</ion-text>
          </ion-label>
          <ion-input required type="text" formControlName="descripcion"></ion-input>
        </ion-item>


        <ion-item>
          <ion-label position="floating">
            <ion-text color="dark">Precio</ion-text>
          </ion-label>
          <ion-input required type="number" formControlName="precio"></ion-input>
        </ion-item>


        <ion-item>
          <ion-label position="floating">
            <ion-text color="dark">Tipo de producto</ion-text>
          </ion-label>
          <ion-select placeholder="Seleccionar tipo" okText="OK" cancelText="Cancelar" formControlName="tipo">
            <ion-select-option *ngFor="let item of mProductosTipos" [value]="item">{{item.nombre}}</ion-select-option>
          </ion-select>
        </ion-item>


        <div style="margin: 20px;">
          <ion-button color="dark" expand="block" shape="round" type="submit" [disabled]="!form.valid">
            Guardar
          </ion-button>
        </div>

      </ion-list>
    </form>
  </div>


</ion-content>