<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Productos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>

    <ion-item-sliding *ngFor="let item of mProductos">

      <ion-item (click)="verInfo(item.id)">
        <ion-avatar slot="start">
          <img *ngIf="item.tipo.nombre === 'Bebidas'" src="../../../../assets/imgs/frappeC.svg">
          <img *ngIf="item.tipo.nombre === 'Refacciones'" src="../../../../assets/imgs/nachos.svg">
        </ion-avatar>
        <ion-label>
          <h2><strong>{{item.nombre}} - Q{{item.precio | number:'1.2-2'}}</strong></h2>
          <h3>{{item.descripcion}}</h3>
        </ion-label>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="dark" (click)="eliminar(item.id)">
          <ion-icon name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>

    </ion-item-sliding>


  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="nuevo()">
    <ion-fab-button color="dark">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>