<ion-header>
  <ion-toolbar color="dark">
    <ion-button slot="end" fill="clear" color="light" (click)=cerarModal()>
      <ion-icon name="close"></ion-icon>
    </ion-button>
    <ion-title *ngIf="idGasto === ''">Agregar gasto</ion-title>
    <ion-title *ngIf="idGasto !== ''">Detalles del gasto</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <div *ngIf="idGasto === ''">
    <form [formGroup]="form" (ngSubmit)="onSubmitGasto()">

      <ion-list>

        <ion-item>
          <ion-label position="floating"><b>Semana de venta</b></ion-label>
          <ion-select  interface="action-sheet"
            formControlName="ventaSemana" placeholder="Última registrada" okText="OK" cancelText="Cancelar">
            <ion-select-option [value]="lastDate">Última registrada</ion-select-option>
            <ion-select-option *ngFor="let item of mVentasSemana" [value]="item">{{item.fechaInicio | date}}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label position="floating">
            <ion-text color="dark"><b>Gasto</b></ion-text>
          </ion-label>
          <ion-input required type="text" formControlName="nombre"></ion-input>
        </ion-item>


        <ion-item>
          <ion-label position="floating">
            <ion-text color="dark"><b>Descripción</b></ion-text>
          </ion-label>
          <ion-input type="text" formControlName="descripcion"></ion-input>
        </ion-item>


        <ion-item>
          <ion-label position="floating">
            <ion-text color="dark"><b>Fecha del gasto</b></ion-text>
          </ion-label>
          <ion-datetime cancel-text="Cancelar" done-text="Ok" value="" [placeholder]="fechaHoy | date"
            display-timezone="utc" formControlName="fechaGasto"></ion-datetime>
        </ion-item>

        <ion-item>
          <ion-label position="floating">
            <ion-text color="dark"><b>Total</b></ion-text>
          </ion-label>
          <ion-input required type="number" formControlName="total"></ion-input>

          <div *ngIf="errorTotal">
            <ion-text  color="danger"><b>El total no puede ser cero</b></ion-text>
          </div>
          

        </ion-item>


        <div style="margin: 20px;">
          <ion-button color="dark" expand="block" shape="round" type="submit" [disabled]="!form.valid">
            Guardar
          </ion-button>
        </div>

      </ion-list>
    </form>
  </div>

  <div *ngIf="idGasto !== ''">
    <ion-card>
   
        <div class="centrar">
          <ion-img src="../../../../assets/imgs/gastos.svg" ></ion-img>
        </div>
   
      <ion-card-header>

        <ion-card-title><b>{{mGastoSelected.nombre}}</b></ion-card-title>
        <ion-card-subtitle><b>Total: Q{{mGastoSelected.total | number:'1.2-2'}}</b></ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <h3><b>Descripción: {{mGastoSelected.descripcion}}</b></h3>
        <h3><b>Fecha: {{mGastoSelected.fechaGasto | date}}</b></h3>
        <h3><b>Semana de venta: {{mVentaSemana.fechaInicio | date}}</b></h3>
        
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>