<ion-header>
  <ion-toolbar color="dark">
    <ion-button slot="end" fill="clear" color="light" (click)=cerarModal()>
      <ion-icon name="close"></ion-icon>
    </ion-button>
    <ion-title *ngIf="idPedido === ''">Agregar pedido</ion-title>
    <ion-title *ngIf="idPedido !== ''">Detalles del pedido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngIf="idPedido === ''">
    <form [formGroup]="form" (ngSubmit)="guardar()">

      <ion-list>

        <ion-item>
          <ion-label position="floating">
            <ion-text color="dark">Cliente</ion-text>
          </ion-label>
          <ion-input required type="text" formControlName="cliente"></ion-input>
        </ion-item>


        <ion-item>
          <ion-label position="floating">
            <ion-text color="dark">Nota</ion-text>
          </ion-label>
          <ion-input required type="text" formControlName="nota"></ion-input>
        </ion-item>


        <ion-item>
          <ion-label position="floating">
            <ion-text color="dark">Fecha de entrega</ion-text>
          </ion-label>
          <ion-datetime cancel-text="Cancelar" done-text="Ok" value="" [placeholder]="fechaHoy | date"
            display-timezone="utc" formControlName="entrega"></ion-datetime>
        </ion-item>

        <ion-item>
          <ion-label position="floating">
            <ion-text color="dark">Hora de entrega</ion-text>
          </ion-label>
          <ion-datetime cancel-text="Cancelar" done-text="Ok" value="" [placeholder]="fechaHoy | date: 'shortTime'"
            display-format="h:mm A" picker-format="h:mm A" formControlName="hora"></ion-datetime>
        </ion-item>

        <div style="margin: 20px;">
          <ion-button color="dark" expand="block" shape="round" type="submit" [disabled]="!form.valid">
            Guardar
          </ion-button>
        </div>

      </ion-list>
    </form>
  </div>

  <div *ngIf="idPedido !== ''">
    <div class="ion-padding">
      <ion-text>
        <ion-label>Cliente: <b>{{mPedido.cliente}}</b></ion-label><br>
        <ion-label>Entregar: <b>{{mPedido.hora  | date: 'shortTime'}} - {{mPedido.entrega  | date: 'MMM d'}}</b>
        </ion-label><br>
        <ion-label>Total a pagar: <b>Q{{totalPedido | number:'1.2-2'}}</b></ion-label>
      </ion-text>
    </div>

    <ion-list>

      <ion-item-sliding *ngFor="let item of mPedidoDetalles">
  
        <ion-item (click)="verInfo(item.id)">
          <ion-label>
            <h2><strong>
              {{ item.cantidad}} {{ item.producto.nombre}}
              </strong>
            </h2>
            <h3>Q{{item.total | number:'1.2-2'}}</h3>
          </ion-label>
        </ion-item>
  
        <ion-item-options side="end">
          <ion-item-option color="dark" (click)="eliminar(item.id)">
            <ion-icon name="trash"></ion-icon>
          </ion-item-option>
        </ion-item-options>
  
      </ion-item-sliding>
  
      <div style="margin: 20px;">
        <ion-button color="dark" expand="block" shape="round" type="submit" [disabled]="false">
          Confirmar
        </ion-button>
      </div>
  
    </ion-list>
  </div>




  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button color="light"><ion-icon name="caret-up"></ion-icon></ion-fab-button>

    <ion-fab-list side="top">
      <ion-fab-button><ion-icon name="add"></ion-icon></ion-fab-button>
      <ion-fab-button><ion-icon name="pencil"></ion-icon></ion-fab-button>
      <ion-fab-button><ion-icon src="../../../../assets/imgs/icons/emoticon.svg"></ion-icon></ion-fab-button>
    </ion-fab-list>

  </ion-fab>

</ion-content>