<ion-header>
  <ion-toolbar color="dark">
    <ion-button slot="end" fill="clear" color="light" (click)=cerarModal()>
      <ion-icon name="close"></ion-icon>
    </ion-button>
    <ion-title *ngIf="tipoUso === 'CREAR'">Agregar producto</ion-title>
    <ion-title *ngIf="tipoUso === 'VER'">Detalles del producto</ion-title>
    <ion-title *ngIf="tipoUso === 'ELEGIR'">Elegir producto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngIf="tipoUso === 'VER'">
    <ion-card>
   
        <div class="centrar">
          <ion-img *ngIf="mTipo.nombre === 'Bebidas'" src="../../../../assets/imgs/frappeC.svg" ></ion-img>
          <ion-img *ngIf="mTipo.nombre === 'Refacciones'" src="../../../../assets/imgs/nachos.svg" ></ion-img>
        </div>
   
      <ion-card-header>

        <ion-card-title>{{mProducto.nombre}}</ion-card-title>
        <ion-card-subtitle>Precio: Q{{mProducto.precio | number:'1.2-2'}}</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <h3>Tipo: {{mTipo.nombre}}</h3>
        <h3>Descripción: {{mProducto.descripcion}}</h3>
        
      </ion-card-content>
    </ion-card>
  </div>


  <div *ngIf="tipoUso === 'CREAR'">
    <form [formGroup]="form" (ngSubmit)="guardar()">

      <ion-list>

        <ion-item>
          <ion-label position="floating">
            <ion-text color="dark">Nombre</ion-text>
          </ion-label>
          <ion-input required type="text" formControlName="nombre"></ion-input>
        </ion-item>


        <ion-item>
          <ion-label position="floating">
            <ion-text color="dark">Descripción</ion-text>
          </ion-label>
          <ion-input required type="text" formControlName="descripcion"></ion-input>
        </ion-item>


        <ion-item>
          <ion-label position="floating">
            <ion-text color="dark">Precio</ion-text>
          </ion-label>
          <ion-input required type="number" formControlName="precio"></ion-input>
        </ion-item>


        <ion-item>
          <ion-label position="floating">
            <ion-text color="dark">Tipo de producto</ion-text>
          </ion-label>
          <ion-select placeholder="Seleccionar tipo" okText="OK" cancelText="Cancelar" formControlName="tipo">
            <ion-select-option *ngFor="let item of mProductosTipos" [value]="item">{{item.nombre}}</ion-select-option>
          </ion-select>
        </ion-item>


        <div style="margin: 20px;">
          <ion-button color="dark" expand="block" shape="round" type="submit" [disabled]="!form.valid">
            Guardar
          </ion-button>
        </div>

      </ion-list>
    </form>
  </div>

  
  <div *ngIf="tipoUso === 'ELEGIR'">
    <ion-list>

      <ion-item-sliding *ngFor="let item of mProductos">
  
        <ion-item (click)="elegirProducto(item)">
          <ion-avatar slot="start">
            <img *ngIf="item.tipo.nombre === 'Bebidas'" src="../../../../assets/imgs/frappeC.svg">
            <img *ngIf="item.tipo.nombre === 'Refacciones'" src="../../../../assets/imgs/nachos.svg">
          </ion-avatar>
          <ion-label>
            <h2><strong>{{item.nombre}} - Q{{item.precio | number:'1.2-2'}}</strong></h2>
            <h3>{{item.descripcion}}</h3>
          </ion-label>
        </ion-item>
  
        <ion-item-options side="end">
          <ion-item-option color="dark" (click)="eliminar(item.id)">
            <ion-icon name="trash"></ion-icon>
          </ion-item-option>
        </ion-item-options>
  
      </ion-item-sliding>
  
  
    </ion-list>
  </div>

</ion-content>