<ion-header>
  <ion-toolbar color="dark">
    <ion-button slot="end" fill="clear" color="light" (click)=cerarModal()>
      <ion-icon name="close"></ion-icon>
    </ion-button>
    <ion-title *ngIf="idSemanaVenta === ''">Agregar semana de venta</ion-title>
    <ion-title *ngIf="idSemanaVenta !== ''">Detalles de la semana</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngIf="idSemanaVenta === ''" style="margin-top: 50px;">
    
    <ion-item>
      <ion-label position="floating">
        <ion-text color="dark">Fecha de inicio</ion-text>
      </ion-label>
      <ion-datetime cancel-text="Cancelar" done-text="Ok" value="" [placeholder]="fechaInicio | date"
        display-timezone="utc" [(ngModel)]="fechaInicio"></ion-datetime>
    </ion-item>

    <div style="margin: 20px;">
      <ion-button color="dark" expand="block" shape="round" (click)="iniciarVenta()">
        Iniciar
      </ion-button>
    </div>

  </div>

  <div *ngIf="idSemanaVenta !== ''">
    <ion-card>
   
        <div class="centrar">
          <ion-img src="../../../../assets/imgs/crecimiento.svg" ></ion-img>
        </div>
   
      <ion-card-header>

        <ion-card-title><b>{{mGastoSelected.nombre}}</b></ion-card-title>
        <ion-card-subtitle><b>Total: Q{{mGastoSelected.total | number:'1.2-2'}}</b></ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <h3><b>Descripción: {{mGastoSelected.descripcion}}</b></h3>
        <h3><b>Fecha: {{mGastoSelected.fechaGasto | date}}</b></h3>
        <h3><b>Semana de venta: {{mVentaSemana.fechaInicio | date}}</b></h3>
        
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>