<ion-header>
  <ion-toolbar color="dark">
    <ion-button slot="end" fill="clear" color="light" (click)=cerarModal()>
      <ion-icon name="close"></ion-icon>
    </ion-button>
    <ion-title>Confirmar producto</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>
  <div>
      <ion-list>

        <ion-item>
          <ion-label position="floating">
            <ion-text color="dark">Cantidad</ion-text>
          </ion-label>
          <ion-input required type="number" [(ngModel)]="mDetallePedido.cantidad"></ion-input>
          <div *ngIf="errorCantidad">
            <ion-text  color="danger"><b>La cantidad no puede ser cero</b></ion-text>
          </div>
        </ion-item>

        <ion-item>
          <ion-label position="floating">
            <ion-text color="dark">Adicional</ion-text>
          </ion-label>
          <ion-input required type="number" [(ngModel)]="mDetallePedido.adicional" placeholder="Agregar costo adicional"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">
            <ion-text color="dark">Comentario o nota</ion-text>
          </ion-label>
          <ion-textarea [(ngModel)]="mDetallePedido.comentario"
                placeholder="Comentario en esta parte">
            </ion-textarea>
        </ion-item>



        <div style="margin: 20px;">
          <ion-button (click)="confirmar()" color="dark" expand="block" shape="round" >
            Guardar
          </ion-button>
        </div>

      </ion-list>

  </div>
</ion-content>